.App {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

}
  
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


h1 {
  font-family: 'Brush Script MT';
  text-align: center;
  background-color: #283618;
  width: 100%;
  color: rgb(247, 213, 169);
  font-size: 3rem;
  padding: 2rem 0 2rem;
  margin-block: 0;
  position: relative;
  z-index: 22;
}

.arrow{
margin-left: 50px; 
display: block;
padding: 0.3rem 0;
text-decoration: none;
font-Size: 27px; 
color: black;

}

.img_box img{
  width: 200px;
  height: 250px;
}

.img_box img{
  width: 200px;
  height: 250px;
}

.Mycart {
margin-left: 4rem; 
text-decoration: none;
padding: 0.5rem 0;
font-Size: 20px;
display: block; 
color: black; 
font-family: "Brush Script MT";
}

bawahan_menu {
  background-color: antiquewhite;
  width: 100%;
  margin-block: 0;
  display: block;
  position: relative;
  box-shadow: 0 2px 24px 2px #888888;
  z-index: 21;
}

footer {
  width: 100%;
  height: 40px;
  background-color: #3d5126;
}

.box {
  color: #000000;
  font-family: 'Brush Script MT';
  font-weight: bold;
  display: flex;
  padding: 3px;
  width: 500px;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid #070707;
  margin-right: 10px;
  background-color: rgb(252, 223, 188);
  box-shadow: 1px 2px 26px #c6c6c6;
}

.btn {
  display: flex;
  padding: 17px;
  font-size: 20px;
  height: 50px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: azure;
}

.coresystem {
  background-image: url(/paper-bg.jpg);
  background-repeat: repeat-y;
  background-attachment: local;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1rem;
  padding-top: 15px;
  padding-left: 54px;
  min-height: 83svh;
  position: relative;
}

.cartlist {
  background-image: url(/paper-bg.jpg);
  background-repeat: repeat-y;
  background-attachment: local;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1rem;
  padding-top: 15px;
  padding-left: 54px;
  min-height: 83svh;
  position: relative;
}

.minus {
  background-color: rgb(206, 22, 22);
}

.minus:hover {
  background-color: rgb(224, 64, 64);
}

.plus {
  background-color: #1e7725;
}

.plus:hover {
  background-color: #47a34f;
}
